.list-title{
    font-size: 1.3vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: fixed;
    background-color: #2f2fa2;
    color: #f64c72ff;
    top: 50.5%;
    left: 3%;
    z-index:1;
}

.img-form{
    display: block;
    border-radius: 30px;
    border: 3px solid #f64c72ff;
    top: 52%;
    left: 1.5%;
    width: 26%;
    height: 35%;
    position: fixed;
    float: left;
}

.btn1{
    display: block;
    position: fixed;
    top: 80.5%;
    left: 18.1vw;
    width: 8.5vw;
    height: 5vh;
    background-color: #f64c72ff;
    border: 3px solid #f64c72ff;
    border-radius: 30px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1vw;
}

.btn2{
    display: block;
    position: fixed;
    top: 80.5%;
    left: 3.1vw;
    width: 8.5vw;
    height: 5vh;
    background-color: #2f2fa2;
    border: 3px solid #f64c72ff;
    border-radius: 30px;
    color: #f64c72ff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1vw;
}

.btn1:hover{
    display: block;
    position: fixed;
    top: 80.5%;
    left: 18.1vw;
    width: 8.5vw;
    height: 5vh;
    background-color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 30px;
    color: #f64c72ff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1vw;
}

.btn2:hover{
    display: block;
    position: fixed;
    top: 80.5%;
    left: 3.1vw;
    width: 8.5vw;
    height: 5vh;
    background-color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 30px;
    color: #f64c72ff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1vw;
}

th{
    border: 2px solid #FFFFFF;
    background-color: #f64c72ff;
    display: block;
    position: relative;
    left: 1.4vw;
    top: 3vh;
    width: 22vw;
    padding: 1vh;
    color: #FFFFFF;
    font-size: 1.3vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    z-index:2;
}

td{
    border: 2px solid #f64c72ff;
    position: relative;
    left: 1.4vw;
    top: 3vh;
    width: 22vw;
    padding: 1vh;
    color: #f64c72ff;
    font-size: 1.3vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    z-index:1;
}

td:hover{
    border: 2px solid #f64c72ff;
    color: #f64c72ff;
    background-color: #FFFFFF;
}

.invisible{
    display:none;
}