.App {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}


.footer{
  margin: 0;
  position: fixed;
  left : 0;
  bottom: 0;
  width: 100%;
  background-color: #f64c72ff;
  height: 5vh;
}